{# templates/index.html #}

{% extends "base.html" %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">

        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Dashboard</h6>
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col-lg-5 col-md-5 mt-5" style="margin-left:2rem;margin-right:1rem;">
            <div class="card z-index-2  ">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                  <div class="chart">
                    <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h6 class="mb-0 "> Market Breath </h6>
                <p class="text-sm "> Currently {{ dashboard_data.counter_bullish_pair_perc }}% Bullish Cross on {{ dashboard_data.counter_total_pair }} Total Pair</p>
                <hr class="dark horizontal">
                <div class="d-flex ">
                  <i class="material-icons text-sm my-auto me-1">schedule</i>
                  <p class="mb-0 text-sm"> updated Today </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mt-5" style="margin-right:2rem;margin-left:1rem">
            <div class="card z-index-2  ">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                  <div class="chart">
                    <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h6 class="mb-0 "> Average Ema Distance </h6>
                <p class="text-sm "> Currently {{ dashboard_data.avg_ema_distance }}% on {{ dashboard_data.counter_total_pair }} Total Pair </p>
                <hr class="dark horizontal">
                <div class="d-flex ">
                  <i class="material-icons text-sm my-auto me-1">schedule</i>
                  <p class="mb-0 text-sm"> updated Today </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<meta name="ctx2-data" content="{{ dashboard_data.list_bullish_pair_by_week }}">
<meta name="ctx3-data" content="{{ dashboard_data.list_avg_ema_distance_by_week }}">

<script src="static/assets/js/core/popper.min.js"></script>
<script src="static/assets/js/core/bootstrap.min.js"></script>
<script src="static/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="static/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="static/assets/js/plugins/chartjs.min.js"></script>
<script>
var ctx2 = document.getElementById("chart-line").getContext("2d");
var ctx2_data = document.querySelector('meta[name="ctx2-data"]').content

new Chart(ctx2, {
  type: "line",
  data: {
    labels: ["6 week ago", "5 week ago", "4 week ago", "3 week ago", "2 week ago", "1 week ago", "Now"],
    datasets: [{
      label: "Bullish pairs",
      tension: 0,
      borderWidth: 0,
      pointRadius: 5,
      pointBackgroundColor: "rgba(255, 255, 255, .8)",
      pointBorderColor: "transparent",
      borderColor: "rgba(255, 255, 255, .8)",
      borderColor: "rgba(255, 255, 255, .8)",
      borderWidth: 4,
      backgroundColor: "transparent",
      fill: true,
      data: JSON.parse(ctx2_data),
      maxBarThickness: 6

    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
      }
    },
    interaction: {
      intersect: false,
      mode: 'index',
    },
    scales: {
      y: {
        grid: {
          drawBorder: false,
          display: true,
          drawOnChartArea: true,
          drawTicks: false,
          borderDash: [5, 5],
          color: 'rgba(255, 255, 255, .2)'
        },
        ticks: {
          display: true,
          color: '#f8f9fa',
          padding: 10,
          font: {
            size: 14,
            weight: 300,
            family: "Roboto",
            style: 'normal',
            lineHeight: 2
          },
        }
      },
      x: {
        grid: {
          drawBorder: false,
          display: false,
          drawOnChartArea: false,
          drawTicks: false,
          borderDash: [5, 5]
        },
        ticks: {
          display: true,
          color: '#f8f9fa',
          padding: 10,
          font: {
            size: 14,
            weight: 300,
            family: "Roboto",
            style: 'normal',
            lineHeight: 2
          },
        }
      },
    },
  },
});

var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");
var ctx3_data = document.querySelector('meta[name="ctx3-data"]').content

new Chart(ctx3, {
  type: "line",
  data: {
    labels: ["6 week ago", "5 week ago", "4 week ago", "3 week ago", "2 week ago", "1 week ago", "Now"],
    datasets: [{
      label: "Avg ema distance",
      tension: 0,
      borderWidth: 0,
      pointRadius: 5,
      pointBackgroundColor: "rgba(255, 255, 255, .8)",
      pointBorderColor: "transparent",
      borderColor: "rgba(255, 255, 255, .8)",
      borderWidth: 4,
      backgroundColor: "transparent",
      fill: true,
      data: JSON.parse(ctx3_data),
      maxBarThickness: 6

    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
      }
    },
    interaction: {
      intersect: false,
      mode: 'index',
    },
    scales: {
      y: {
        grid: {
          drawBorder: false,
          display: true,
          drawOnChartArea: true,
          drawTicks: false,
          borderDash: [5, 5],
          color: 'rgba(255, 255, 255, .2)'
        },
        ticks: {
          display: true,
          padding: 10,
          color: '#f8f9fa',
          font: {
            size: 14,
            weight: 300,
            family: "Roboto",
            style: 'normal',
            lineHeight: 2
          },
        }
      },
      x: {
        grid: {
          drawBorder: false,
          display: false,
          drawOnChartArea: false,
          drawTicks: false,
          borderDash: [5, 5]
        },
        ticks: {
          display: true,
          color: '#f8f9fa',
          padding: 10,
          font: {
            size: 14,
            weight: 300,
            family: "Roboto",
            style: 'normal',
            lineHeight: 2
          },
        }
      },
    },
  },
});
</script>
{% endblock content %}          